#### 데이터프레임

판다스에서 데이터(테이블형태 - DB, 엑셀, CSV)를 처리하는 가장 기본이 되는 자료구조

<img src = "https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F99FD8D385BFBECE32D">

###### 데이터프레임 생성
```python
pd.dataFrame(...)

In [1]:
# 판다스, 넘파이 import
import pandas as pd
import numpy as np

In [5]:
datas = {
    '이름' : ['길동이', '길순이', '유고', '애슐리'],
    '국어' : [80, 100, 10, 90],
    '영어' : [50, 100, 99, 100],
    '수학' : [90, 100, 10, 50],
    '미술' : [100, 100, 99, 30]
} # r기본데이터, 실제로는 excel, csv, db, openAPI에서 받아와서 처리

df1 = pd.DataFrame(datas)
df1

    이름   국어   영어   수학   미술
0  길동이   80   50   90  100
1  길순이  100  100  100  100
2   유고   10   99   10   99
3  애슐리   90  100   50   30

In [8]:
# 특정컬럼 만으로 데이터 프레임을 생성
df2 = pd.DataFrame(datas, columns=['이름','영어'])
df2

    이름   영어
0  길동이   50
1  길순이  100
2   유고   99
3  애슐리  100

In [6]:
# 컬럼정보 없으면 NaN으로 생성
df3 = pd.DataFrame(datas, columns=['이름', '음악'])
df3

    이름   음악
0  길동이  NaN
1  길순이  NaN
2   유고  NaN
3  애슐리  NaN

In [7]:
# 인덱스 번호 추가
df4 = pd.DataFrame(data=datas, index=[x for x in range(1,len(datas))])
df4

    이름   국어   영어   수학   미술
1  길동이   80   50   90  100
2  길순이  100  100  100  100
3   유고   10   99   10   99
4  애슐리   90  100   50   30

#### 데이터프레임 내의 데이터 조회

In [9]:
df4 ['이름']

1    길동이
2    길순이
3     유고
4    애슐리
Name: 이름, dtype: object

In [15]:
df4['국어']

1     80
2    100
3     10
4     90
Name: 국어, dtype: int64

In [10]:
type(df4['이름'])

pandas.core.series.Series

In [17]:
df4['이름','국어']

KeyError: ('이름', '국어')

In [19]:
# 다중인덱스
df4.loc[[1,3]]

    이름  국어  영어  수학   미술
1  길동이  80  50  90  100
3   유고  10  99  10   99